{% extends 'basic.html' %} {% block body %}
<div class="container">
    <h3 style="color: rgba(16, 4, 33, 0.926); padding-top: 5%">Add VM candidate</h3>
    <form action="/addVm" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="reqDate">Reg Date:</label>
            <input type="date" id="reqDate" name="reqDate" class="form-control" />
        </div>

        <div class="form-group">
            <label for="providedDate">Resume Provided Date:</label>
            <input type="date" id="providedDate" name="providedDate" class="form-control" />
        </div>

        <div class="form-group">
            <label for="vendorName">Vendor Name</label>
            <input type="text" id="vendorName" name="vendorName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="resumeSource">Availability</label>
            <select name="resumeSource" id="resumeSource">
                <option value="Vendor Bench">Vendor Bench</option>
                <option value="market">market</option>
            </select>
        </div>
        <div class="form-group">
            <label for="candidateName">Candidate Name:</label>
            <input type="text" id="candidateName" name="candidateName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="skillset">Skillset</label>
            <input type="text" id="skillset" name="skillset" class="form-control" />
        </div>
        <div class="form-group">
            <label for="experience">Experience</label>
            <input type="number" id="experience" name="experience" class="form-control" step="any" />
        </div>
        <div class="form-group">
            <label for="education">Education</label>
            <input type="text" id="education" name="education" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="mobile">Phone </label>
            <input type="number" id="mobile" name="mobile" class="form-control" />
        </div>

        <div class="form-group">
            <label for="resume">Resume URL</label>
            <input type="text" id="resumeURL" name="resumeURL" class="form-control" />
        </div>
        <div class="form-group">
            <label for="billingRate">Billing Rate</label>
            <input type="number" id="billingRate" name="billingRate" class="form-control" step="any" />
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" class="form-control" />
        </div>
        <div class="form-group">
            <label for="noticePeriod">Notice Period</label>
            <input type="number" id="noticePeriod" name="noticePeriod" class="form-control" step="any" />
        </div>
      <div class="form-group">
        <label for="buh">BU HEAD</label>
        <select name="buh" id="buh">
          {% for val in bulist %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
      </div>
        <div class="form-group">
            <label for="department">Department</label>
            <select name="department" id="department">
                {% for val in departments %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="clientName">Client Name</label>
            <input type="text" id="clientName" name="clientName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="interviewSchedule">Interview Schedule</label>
            <input type="date" id="interviewSchedule" name="interviewSchedule" class="form-control" />
        </div>


        <div class="form-group">
            <label for="owner">Owner</label>
            <select name="owner" id="owner">
                {% for val in ownerList %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="resumeStatus">Status</label>
            <select name="resumeStatus" id="resumeStatus">
                <option value="PendingReview" selected>PendingReview</option>
                <option value="reject">Reject</option>
            </select>
        </div>

                <div class="form-group">
            <label for="archivalStatus">Archived?</label>
            <select name="archivalStatus" id="archivalStatus">
                <option value="Active" selected>Active</option>
                <option value="Closed">Closed</option>
            </select>
        </div>

        <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" id="remarks" name="remarks" class="form-control" step="any" />
        </div>
        <button type="submit" class="btn btn-info">Add Details</button><br /><br /><br />
    </form>
</div>

{% endblock %}