{% extends 'basic.html' %}
<!--{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">-->
{% block body %}

<div >

  <div class="container">
    <h3 style="color: rgba(16, 4, 33, 0.926); padding-top: 5%">Add Customer Requirements</h3>
    <form action="/addSalesReqs" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="customers">Customer</label>
        <select name="customers" id="customers">
          {% for val in customerlist %} {% if val != 'Not Assigned' %}
          <option value="{{val}}">{{val}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="Requirement ID" 
        class="was-validated">Req ID:</label>
        <input 
          type="text" 
          class="form-control" 
          id="CustReqId" 
          name="CustReqId" required
          placeholder="Requirement ID"/>
            <div class="invalid-feedback">Please fill out this field</div>
        </div>
      <div class="form-group">
        <label for="ReqDate">Req Date:</label>
        <input
          type="date"
          class="form-control"
          id="ReqDate"
          name="ReqDate"
          placeholder="enter customer Req date"
        />
      </div>
      <div class="form-group">
        <label for="RequiredSkills"
           class="was-validated">Required Skills:</label>
        <input
          type="text"
          class="form-control"
          id="RequiredSkills"
          name="RequiredSkills" required
          placeholder="Enter skills"/>
          <div class="invalid-feedback">Please fill out this field</div>
      </div>
      <div class="form-group">
        <label for="department">Please Select the department</label><br>
          <select name="department" id="department">
            {% for value in department %}
            <option value="{{value}}">{{value}}</option>
            {% endfor %}
          </select>
       </div>
      <div class="form-group">
        <label for="Jobtitle" 
        class="was-validated">Job Title:</label>
        <input 
          type="text" 
          class="form-control" 
          id="jobtitle" 
          name="jobtitle" required
          placeholder="Enter Skills">
            <div class="invalid-feedback">Please fill out this field.</div>

      <div class="form-group">
        <label for="JD">Job Description:</label>
        <textarea
          id="JD"
          style="width: 500px; height: 150px"
          class="form-control"
          name="JD"
          placeholder="Enter Job Description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
          <input type="text"
           name="jobTitle" 
           id="jobTitle" 
           placeholder="Enter Job Title"/>    
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
          <option value="1">P1</option>
          <option value="2">P2</option>
          <option value="3">P3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="minExp">Min Experience:</label>
        <input
          type="number"
          class="form-control"
          id="minExp"
          name="minExp"
          min="0"
          max="100"
          step="0.1"
          value="3"
          placeholder="enter required experience"
        />
      </div>
      <div class="form-group">
        <label for="maxExp">Max Experience:</label>
        <input
          type="number"
          class="form-control"
          id="maxExp"
          name="maxExp"
          min="0"
          max="100"
          step="0.1"
          value="10"
          placeholder="enter required experience"
        />
      </div>
      <div class="form-group">
        <label for="openPositions">Open positions:</label>
        <input
          type="number"
          class="form-control"
          id="openPositions"
          name="openPositions"
          placeholder="Enter opened positions"
          value="1"
        />
      </div>
   
      <div class="form-group">
        <!-- <label for="remainPositions"></label> -->
        <input type="hidden" class="form-control" id="remainPositions" name="remainPositions" value="0" />
      </div>
      <div class="form-group">
        <input
          type="hidden"
          class="form-control"
          id="reqStatus"
          name="reqStatus"
          value="Active"
          placeholder="Enter position status active or not"
        />
      </div>

      <div class="form-group" style="display: none;" >
        <select  name="reqStatus" id="reqStatus">
          <option value="Active" selected>Active</option>
          <option value="Closed">Closed</option>
          <option value="Hold">Hold</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fulfillThru">Fill Thru:</label>
        <select name="fulfillThru" id="fulfillThru">
          <option value="BENCH">BENCH</option>
          <option value="TA">TA</option>
          <option value="VM">VM</option>
          <option value="ALL" selected>ALL</option>
        </select>
      </div>


      <div class="form-group">
        <label for="SalesIncharge">Sales Incharge</label>
        <select name="SalesIncharge" id="SalesIncharge">
          {% for val in saleslist %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="buHead">Select BU HEAD</label>
        <select name="buHead" id="buHead">
          {% for val in bulist %}
          <option value="{{val}}">{{val}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="history"
        class="was-validated">Remarks</label>
        <textarea
          id="history"
          style="width: 500px; height: 130px"
          class="form-control"
          id="remarks"
          name="history"
          placeholder="Enter Remarks">
        </textarea>
          <div class="invalid-feedback">Please fill out this field.
          </div>


      <script>
        window.onload = function () {
      const currentDate = new Date().toISOString().split('T')[0]

      // Set the value of the input field to the current date
      document.getElementById('ReqDate').value = currentDate

          var one = document.getElementById('openPositions'),
            two = document.getElementById('remainPositions')
          one.addEventListener('input', function () {
            two.value = one.value
          })
        }
      </script>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
