{% extends 'basic.html' %}
{% block body %}
<div>
    <div class="container">
        <h3 style="color: rgba(12, 6, 2, 0.774);padding-top: 5%;">Add Customer Details</h3>
    <form action="/addCustomer" method="POST" >
      {% csrf_token %}
      

      <div class="form-group">
        <label for="cName"
        class="was-validated">Customer Name:</label>
        <input type="text" class="form-control" id="cName" name="cName" required placeholder="Enter Customer name">
        <div class="invalid-feedback">Please fill out this field</div>
      </div>
      <div class="form-group">
        <label for="cEmail"
        clas="was-validated">Customer Email:</label>
        <input type="text" class="form-control" id="cEmail" name="cEmail" required placeholder="Enter Customer email">
        <div class="invalid-feedback">Please fill out this field</div>
      </div>
      <div class="form-group">
        <label for="cUrl"
        class="was-validated">Customer Website:</label>
        <input type="text" class="form-control" id="cUrl" name="cUrl" required placeholder="Enter Customer url">
        <div class="invalid-feedback">Please fill out this field</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
{% endblock %}