{% extends 'basic.html' %}
{% block body %}
<table>
    <tr>
        <td style="padding : 15px; margin-top: 30px;">
            <div class="container text-white">
                <div class="col-xl-12">
                    <form action="" method="get" class="form-inline">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Search candidate skills.."
                            name="searchskill">
                        <button type="submit" class="btn btn-success" value="Search">Search</button>

                    </form>
                </div>
            </div>
        </td>
        <div>

            <td style="padding : 15px; margin-top: 30px;">
                <div onclick="location.href='/freeFromAllSource/{{reqIdPK}}';">
                    <input type="radio">
                    <p>Bench Resource</p>
                </div>
            </td>
            <td style="padding : 15px; margin-top: 30px;">
                <div onclick="location.href='/showTaList/{{reqIdPK}}';">
                    <input type="radio">
                    <p>TA Resources</p>
                </div>
            </td>

            <td style="padding : 15px; margin-top: 30px;">
                <div onclick="location.href='/showVmList/{{reqIdPK}}';">
                    <input type="radio">
                    <p>VM Resources</p>
                </div>
            </td>
    </tr>
</table>
<div class="form-inline">
    <div class="d-inline-block">
        <span class="btn">
            <span style="margin-left: 30;" class="btn">
                BUH
                <select name="buhead" id="buhead" class="btn" style="border-radius: 30px;">
                    <option value="{{bu_select}}" selected disabled hidden>{{bu_select}}</option>
                    {% for val in buHead %}
                    <option value="{{val.eFname}}">{{val.eFname}}</option>
                    {% endfor %}
                    <option value="All">All</option>
                </select>
            </span>
            <span style="margin-left: 30">
                <button class="go-btn" style="border-radius: 30px" type="submit"
                    onClick="window.location.href = getLink()">
                    Search
                </button>
            </span>
            <span style="margin-left: 10">
                <button class="go-btn" style="border-radius: 30px" type="submit"
                    onclick="location.href='/mappedEmployeeToCustomer'">
                    Refresh
                </button>
            </span>
    </div>
</div>
<script>
    function getLink() {
      var buhead = document.querySelector('#BU').value    
      var url ='/mappedEmployeeToCustomer/' + encodeURIComponent(buhead) 
      return url
    }
  </script>
<center>
    <div>
        <h3 class="bg-info text-white">VM List</h3>

    </div>
</center>
<form action="/mapEmpToReq/{{reqIdPK}}/VM" method="POST" class="form-inline">

    {% csrf_token %}

    <table class="table table-bordered table-hover" id="mapTable" name="mapTable">
        <thead class="badge-info text-white">
            <tr>
                <th>Select</th>
                <th>Candidate Name</th>
                <th>Department</th>
                <th>Bu Head.</th>
                <th>Candidate Skills</th>
                <th>Selection Status</th>
            </tr>
        </thead>

        <tbody>
            {% for candidate_list in form %}
            <tr>
                <td><input type="checkbox" name="vmIdPK" id="vmIdPK" value="{{candidate_list.vmIdPK}}">
                    <label for="vmIdPK"></label>
                </td>
                <td>{{candidate_list.candidateName}}</td>
                <td>{{candidate_list.department}}</td>
                <td>{{candidate_list.BU}}</td>
                <td>{{candidate_list.skillset}}</td>
                <td>{{candidate_list.resumeStatus}}</td>
            </tr>
            {% empty %}
            <span class="text-center text-danger">No record found</span>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-info" value="submit" style="float:right">Add VM Resource</button>

</form>
{% endblock %}