{% extends 'basic.html' %} {% block extra %}
{% load custom_filters %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
></script>

{% endblock %} {% block body %}
<center>
  <div>
    <h2 class="bg-info text-white">VM Candidates</h2>
  </div>
</center>

<script>
  function getLink() {
    var buhead = document.querySelector('#buhead').value
    var department = document.querySelector('#department').value
    var status = document.querySelector('#status').value
    var url =
      '/showVm/' +
      encodeURIComponent(buhead) +
      '/' +
      encodeURIComponent(department) +
      '/' +
      encodeURIComponent(status)
    return url
  }
</script>
<div class="form-inline">
  <div class="d-inline-block">
    <span class="btn">
      Dept
      <select class="btn" name="department" id="department">
        <option value="{{dept_select}}" selected hidden disabled>{{dept_select}}</option>
        {% for val in departments %}
        <option value="{{val}}">{{val}}</option>
        {% endfor %}
        <option value="All">All</option>
      </select>
    </span>
    <span style="margin-left: 30" class="btn">
      BUH
      <select name="buhead" id="buhead" class="btn" style="border-radius: 30px">
        <option value="{{bu_select}}" selected disabled hidden>{{bu_select}}</option>
        {% for val in BUHList %}
        <option value="{{val}}">{{val}}</option>
        {% endfor %}
        <option value="All">All</option>
      </select>
    </span>

    <span style="margin-left: 30" class="btn">
      Archived?
      <select name="statuslist" id="status" class="btn" style="border-radius: 30px">
        <option value="{{status_select}}" selected disabled hidden>{{status_select}}</option>
        <option value="Active">Active</option>
        <option value="Closed">Closed</option>
        <option value="All">Both</option>
      </select>
    </span>
    <span style="margin-left: 30">
      <button
        class="go-btn"
        style="border-radius: 30px"
        type="submit"
        onClick="window.location.href = getLink()"
      >
        Search
      </button>
    </span>
    <span style="margin-left: 10">
      <button
        class="go-btn"
        style="border-radius: 30px"
        type="submit"
        onclick="location.href='/showVm/Choose/Choose/Choose'"
      >
        Refresh
      </button>
    </span>
  </div>
</div>

<table class="table relative-top" id="vmTable">
  <thead class="badge-info text-white">
    <tr>
      <th>Archived</th>
      <th>Candidate</th>
      <th>Exp</th>
      <th>Edu.</th>
      <th>Skill</th>
      <th>NP</th>
      <th>Location</th>
      <th>DEPT</th>
      <th>BUH</th>
      <th>Remarks</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for val in candidate_list %}
    <tr>
      <td>{{ val.archivalStatus }}</td>
      <td>
        {{ val.candidateName }} {% if val.resumeURL and val.resumeURL != 'None' %}
        <a href="{{ val.resumeURL }}" target="_blank"> <i class="fa-regular fa-eye"></i></a>
        {% endif %}
      </td>
      <td>{{ val.experience }}</td>
      <td>{{ val.education }}</td>
      <td>{{ val.skillset }}</td>
      <td>{{ val.noticePeriod }}</td>
      <td>{{ val.location }}</td>
      <td>{{ val.department }}</td>
      <td>{{ val.buh }}</td>
      <td>
        <p class="btn-sm" data-toggle="modal" data-target="#hist{{val.vmIdPK}}">
          {{ val.remarks|extract_from_hashtag }}
        </p>
        <!-- remarks Modal -->
        <div
          class="modal fade"
          id="hist{{val.vmIdPK}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="jobDescriptionModalLabel{{val.vmIdPK}}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="hist{{val.vmIdPK}}">Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{val.remarks|linebreaksbr }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

              <div class="modal-body">
                <div class="container-fluid">
                  <form action="/addCommentsToVmCandidate/{{val.vmIdPK}}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="remark_text">Edit remarks:</label>
                      <textarea name="remark_text" id="remark_text" cols="50" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>{{ val.owner }}</td>
      <td>{{ val.resumeStatus }}</td>
      <td>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info btn-sm"
          data-toggle="modal"
          data-target="#detailedInfoModal"
        >
          <i class="fa-regular fa-eye"></i>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="detailedInfoModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLongTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Details for {{val.candidateName}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <h5 for="pr_date">Email</h5>
                  {{val.email}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="pr_date">Phone</h5>
                  {{val.mobile}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="pr_date">Req Date:</h5>
                  {{val.reqDate}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="pr_date">Provided Date:</h5>
                  {{val.providedDate}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="vendor_name">Vendor Name:</h5>
                  {{val.vendorName}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="candidate_source">Resume Source:</h5>
                  {{val.candidateSource}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="candidateName">Candidate Name:</h5>
                  {{val.candidateName}}
                </div>

                <hr />
                <div class="form-group">
                  <h5 for="billing_rate">Billing Rate:</h5>
                  {{val.billingRate}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="client_name">Client Name:</h5>
                  {{val.clientName}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="interview_schedule">Interview Schedule:</h5>
                  {{val.interview_schedule}}
                </div>
                <hr />
                <div class="form-group">
                  <h5 for="interview_status">Resume Status:</h5>
                  {{val.resumeStatus}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-success btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#editInfoModal"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="editInfoModal"
          tabindex="-1"
          aria-labelledby="editInfoLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="editInfoLabel">{{val.candidateName}}</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="/updateVmCandidate/{{val.vmIdPK}}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="candidateName">Candidate Name:</label>
                    <input
                      type="text"
                      id="candidateName"
                      name="candidateName"
                      class="form-control"
                      value="{{val.candidateName}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="archivalStatus">Archived?</label>
                    <select name="archivalStatus" id="archivalStatus">
                      <option value="{{val.archivalStatus}}" selected>
                        {{val.archivalStatus}}
                      </option>
                      <option value="Active">Active</option>
                      <option value="Closed">Closed</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="resumeStatus">Status</label>
                    <select name="resumeStatus" id="resumeStatus">
                      <option value="{{val.resumeStatus}}" selected>{{val.resumeStatus}}</option>
                      <option value="pendingProcessing">pending Processing</option>
                      <option value="screenRejected">Screen reject</option>
                      <option value="shortlisted">Shortlisted</option>
                      <option value="customerSelect">Customer Selected</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="interviewSchedule">Interview Schedule:</label>
                    <input
                      type="date"
                      id="interviewSchedule"
                      name="interviewSchedule"
                      class="form-control"
                      value="{{ val.interviewSchedule|date:'Y-m-d' }}"
                    />
                  </div>

                  <div class="form-group">
                    <span style="margin-left: 30" class="btn">
                      BU HEAD
                      <select name="buh" id="buh" class="btn" style="border-radius: 30px">
                        <option value="{{val.buh}}" selected>{{val.buh}}</option>
                        {% for val in BUHList %}
                        <option value="{{val.eFname}}">{{val.eFname}}</option>
                        {% endfor %}
                      </select>
                    </span>
                  </div>

                  <div class="form-group">
                    <label for="department">Update department</label>
                    <select name="department" id="department">
                      <option value="{{ val.department }}" selected>{{ val.department }}</option>
                      {% for val in departments %}
                      <option value="{{val}}">{{val}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      value="{{val.email}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="mobile">Phone:</label>
                    <input
                      type="number"
                      id="mobile"
                      name="mobile"
                      class="form-control"
                      value="{{val.mobile}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="reqDate">Req Date:</label>
                    <input
                      type="date"
                      id="reqDate"
                      name="reqDate"
                      class="form-control"
                      value="{{ val.reqDate|date:'Y-m-d' }}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="providedDate">Provided Date:</label>
                    <input
                      type="date"
                      id="providedDate"
                      name="providedDate"
                      class="form-control"
                      value="{{ val.providedDate|date:'Y-m-d' }}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="vendorName">Vendor Name:</label>
                    <input
                      type="text"
                      id="vendorName"
                      name="vendorName"
                      class="form-control"
                      value="{{val.vendorName}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="resumeSource">Candidate Source:</label>
                    <input
                      type="text"
                      id="resumeSource"
                      name="resumeSource"
                      class="form-control"
                      value="{{val.resumeSource}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="skillset">Skillset:</label>
                    <input
                      type="text"
                      id="skillset"
                      name="skillset"
                      class="form-control"
                      value="{{val.skillset}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="experience">Experience:</label>
                    <input
                      type="number"
                      id="experience"
                      name="experience"
                      class="form-control"
                      value="{{val.experience}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="education">Education:</label>
                    <input
                      type="text"
                      id="education"
                      name="education"
                      class="form-control"
                      value="{{val.education}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="billingRate">Billing Rate:</label>
                    <input
                      type="number"
                      id="billingRate"
                      name="billingRate"
                      class="form-control"
                      value="{{val.billingRate}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="location">Location:</label>
                    <input
                      type="text"
                      id="location"
                      name="location"
                      class="form-control"
                      value="{{val.location}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="noticePeriod">Notice Period:</label>
                    <input
                      type="number"
                      id="noticePeriod"
                      name="noticePeriod"
                      class="form-control"
                      value="{{val.noticePeriod}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="clientName">Client Name:</label>
                    <input
                      type="text"
                      id="clientName"
                      name="clientName"
                      class="form-control"
                      value="{{val.clientName}}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="owner">Owner:</label>
                    <input
                      type="text"
                      id="owner"
                      name="owner"
                      class="form-control"
                      value="{{val.owner}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="resumeURL">Resume URL:</label>
                    <input
                      type="text"
                      id="resumeURL"
                      name="resumeURL"
                      class="form-control"
                      value="{{val.resumeURL}}"
                    />
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button><br /><br /><br />
                </form>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- DataTables core library -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<!-- DataTables Buttons extension library -->
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css"
/>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
<script>
  $(document).ready(function () {
    $('#vmTable').DataTable({
      dom: 'Bfrtip',
      buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5'],
    })
  })
</script>

{% endblock %}
