{% extends 'basic.html' %}
{% block body %}
{% load custom_filters %}

<body>

    <center>
        <div>
            <div>
                <h3 class="bg-info text-white"> Applied Candidate List</h3>
                <button type="button" class="btn-warning btn-sm"
                    onclick="location.href='/freeFromAllSource/{{reqIdPK}}'">
                    <i class="fa-sharp fa-regular fa-plus"></i>
                </button>
            </div>
        </div>
    </center>

    <table class="table">
        <thead class="badge-info text-white">
            <tr>
                <th>Candidate</th>
                <th>Remarks</th>
                <th>Source</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for values in form %}
            <tr>
                <td>{{values.name}}
                    {% if values.resumeURL != 'None' %}
                    <a href="{{values.resumeURL}}" target="_blank"><i class="fa-regular fa-eye"></i></a>
                    {% endif %}
                </td>
                <td>
                    <p class="btn-sm" data-toggle="modal" data-target="#hist{{values.pk}}">
                        {{ values.history|extract_from_hashtag }}
                    </p>
                    <!-- History Modal -->
                    <div class="modal fade" id="hist{{values.pk}}" tabindex="-1" role="dialog"
                        aria-labelledby="jobDescriptionModalLabel{{values.pk}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hist{{values.pk}}">Remarks
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{values.history|linebreaksbr }}</p>
                                </div>
                                <!--<div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>-->

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <!--<form action="/addCommentToEmployeedReqTable/{{req_id}}/{{values.source}}/{{values.sourceId}}" method="POST">-->
                                        <form action="/addCommentToEmpReqSelect/{{values.pk}}/{{reqIdPK}}"
                                            method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="remark_text">Edit remarks:</label>
                                                <textarea name="remark_text" id="remark_text" cols="50"
                                                    rows="10"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {{values.source}}
                </td>
                <td>
                    {{values.empstatus}}
                </td>
                <td>
                    {% if position > 0 %}
                    {% if values.empstatus != 'Selected' %}
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.name}}"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu{{values.name}}">
                            <a class="dropdown-item"
                                href="/selection_status/SL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Selected</a>
                            <a class="dropdown-item"
                                href="/selection_status/RJ{{values.name}}/{{reqIdPK}}/{{values.pk}}">Rejected</a>
                            <a class="dropdown-item"
                                href="/selection_status/BU{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shorlisted by
                                BU</a>
                            <a class="dropdown-item"
                                href="/selection_status/CL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shortlisted by
                                Client</a>
                            <a class="dropdown-item"
                                href="/selection_status/OP{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarding
                                Progress</a>
                            <a class="dropdown-item"
                                href="/selection_status/OB{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarded</a>
                            <a class="dropdown-item"
                                href="/selection_status/RR{{values.name}}/{{reqIdPK}}/{{values.pk}}">Resume Rejected</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.name}}"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu{{values.name}}">
                            <a class="dropdown-item"
                                href="/selection_status/SL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Selected</a>
                            <a class="dropdown-item"
                                href="/selection_status/RJ{{values.name}}/{{reqIdPK}}/{{values.pk}}">Rejected</a>
                            <a class="dropdown-item"
                                href="/selection_status/BU{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shorlisted by
                                BU</a>
                            <a class="dropdown-item"
                                href="/selection_status/CL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shortlisted by
                                Client</a>
                            <a class="dropdown-item"
                                href="/selection_status/OP{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarding
                                Progress</a>
                            <a class="dropdown-item"
                                href="/selection_status/OB{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarded</a>
                            <a class="dropdown-item"
                                href="/selection_status/RR{{values.name}}/{{reqIdPK}}/{{values.pk}}">Resume Rejected</a>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.name}}"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item"
                                href="/selection_status/SL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Selected</a>
                            <a class="dropdown-item"
                                href="/selection_status/RJ{{values.name}}/{{reqIdPK}}/{{values.pk}}">Rejected</a>
                            <a class="dropdown-item"
                                href="/selection_status/BU{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shorlisted by
                                BU</a>
                            <a class="dropdown-item"
                                href="/selection_status/CL{{values.name}}/{{reqIdPK}}/{{values.pk}}">Shortlisted by
                                Client</a>
                            <a class="dropdown-item"
                                href="/selection_status/OP{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarding
                                Progress</a>
                            <a class="dropdown-item"
                                href="/selection_status/OB{{values.name}}/{{reqIdPK}}/{{values.pk}}">Onboarded</a>
                            <a class="dropdown-item"
                                href="/selection_status/RR{{values.name}}/{{reqIdPK}}/{{values.pk}}">Resume Rejected</a>
                        </div>
                    </div>
                    {% endif %}
                    <!--Delete button-->
                    <button class="btn-danger btn-sm"
                        onclick="location.href='/deleteAppliedCandidates/{{values.source}}/{{values.name}}/{{reqIdPK}}'">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <!--Add resume to mapped employees-->
                    <button class=" btn-sm" data-toggle="modal" data-target="#modalupload{{values.pk}}"><i
                            class="fa-solid fa-plus"></i></button>
                    <div class="modal" id="modalupload{{values.pk}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class=" modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Upload Resume for : {{values.name}}
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/addResumeToMappedEmployees/{{values.pk}}/{{reqIdPK}}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="resumeURL">
                                                <input type="url" name="resumeURL" id="resumeURL"
                                                    placeholder="Upload Resume link">
                                            </label>
                                            <input type="submit" value="Upload Resume">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}