{% extends 'basic.html' %}
{% block body %}
{% load custom_filters %}

<body>

    <center>
        <div>
            <h3 class="bg-info text-white"> Applied Candidate List</h3>
        </div>
    </center>
    <table class="table">
        <thead class="badge-info text-white">
            <tr>
                <th>No.</th>
                <th>Candidate</th>
                <th>Remarks</th>
                <th>Source</th>
                <th>Reference</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for values in form %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{values.name}}</td>

                <td>
                    <p class="btn-sm" data-toggle="modal" data-target="#hist{{reqIdPK}}">
                       {{ value.history|extract_from_hashtag }}
                    </p>
                    <!-- History Modal -->
                    <div class="modal fade" id="hist{{reqIdPK}}" tabindex="-1" role="dialog"
                        aria-labelledby="jobDescriptionModalLabel{{reqIdPK}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hist{{reqIdPK}}">Remarks
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{value.history|linebreaksbr }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form action="/addCommentToEmployeedReqTable/{{reqIdPK}}/{{values.source}}/{{values.sourceId}}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="remark_text">Edit remarks:</label>
                                                <textarea name="remark_text" id="remark_text" cols="50"
                                                    rows="10"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

                
                <td>
                    {{values.source}}
                </td>
                <td>
                    
                </td>
                 <td>
                    {{values.empstatus}}
                </td>
                <td>

                      {% if position > 0 %}
                      {% if values.empstatus != 'Selected' %} 
                      <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.eFname}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu{{values.eFname}}">
                          <a class="dropdown-item" href="/selection_status/SL{{values.eFname}}/{{reqIdPK}}">Selected</a>
                          <a class="dropdown-item" href="/selection_status/RJ{{values.eFname}}/{{reqIdPK}}">Rejected</a>
                          <a  class="dropdown-item" href="/selection_status/BU{{values.eFname}}/{{reqIdPK}}">Shorlisted by BU</a>
                          <a  class="dropdown-item" href="/selection_status/CL{{values.eFname}}/{{reqIdPK}}">Shortlisted by Client</a>
                          <a  class="dropdown-item" href="/selection_status/OP{{values.eFname}}/{{reqIdPK}}">Onboarding Progress</a>
                          <a  class="dropdown-item" href="/selection_status/OB{{values.eFname}}/{{reqIdPK}}">Onboarded</a>
                          <a class="dropdown-item" href="/selection_status/RR{{values.eFname}}/{{reqIdPK}}">Resume Rejected</a>
                        </div>
                      </div>
                      {% else %}
                      <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.eFname}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                          Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu{{values.eFname}}">
                          <a class="dropdown-item" href="/selection_status/SL{{values.eFname}}/{{reqIdPK}}">Selected</a>
                          <a class="dropdown-item" href="/selection_status/RJ{{values.eFname}}/{{reqIdPK}}">Rejected</a>
                          <a  class="dropdown-item" href="/selection_status/BU{{values.eFname}}/{{reqIdPK}}">Shorlisted by BU</a>
                          <a  class="dropdown-item" href="/selection_status/CL{{values.eFname}}/{{reqIdPK}}">Shortlisted by Client</a>
                          <a  class="dropdown-item" href="/selection_status/OP{{values.eFname}}/{{reqIdPK}}">Onboarding Progress</a>
                          <a  class="dropdown-item" href="/selection_status/OB{{values.eFname}}/{{reqIdPK}}">Onboarded</a>
                          <a class="dropdown-item" href="/selection_status/RR{{values.eFname}}/{{reqIdPK}}">Resume Rejected</a>
                        </div>
                      </div>
                      {% endif %}
                      {% else %}
                      <div class="dropdown">
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="DropDown{{values.eFname}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select/Reject
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                          <a class="dropdown-item" href="/selection_status/SL{{values.eFname}}/{{reqIdPK}}">Selected</a>
                          <a class="dropdown-item" href="/selection_status/RJ{{values.eFname}}/{{reqIdPK}}">Rejected</a>
                          <a  class="dropdown-item" href="/selection_status/BU{{values.eFname}}/{{reqIdPK}}">Shorlisted by BU</a>
                          <a  class="dropdown-item" href="/selection_status/CL{{values.eFname}}/{{reqIdPK}}">Shortlisted by Client</a>
                          <a  class="dropdown-item" href="/selection_status/OP{{values.eFname}}/{{reqIdPK}}">Onboarding Progress</a>
                          <a  class="dropdown-item" href="/selection_status/OB{{values.eFname}}/{{reqIdPK}}">Onboarded</a>
                          <a class="dropdown-item" href="/selection_status/RR{{values.eFname}}/{{reqIdPK}}">Resume Rejected</a>
                        </div>
                      </div>
                    {% endif %}
                    <!--Delete button-->
                    <button class="btn-danger btn-sm" onclick="location.href='/deleteAppliedCandidates/{{values.e_id}}/{{reqIdPK}}'">

                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}