{% extends 'basic.html' %}
{% block extra %}
{% load custom_filters %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
<center>
    <div>
        <h2 class="bg-info text-white">TA Candidates</h2>
    </div>
</center>
<div class="form-inline">
    <div class="d-inline-block">
        <span class="btn">
            Dept
            <select class="btn" name="department" id="department" style="border-radius: 30px;">
                <option value="{{department}}" selected hidden disabled>{{department}}</option>
                {% for val in departments %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;" class="btn">
            BUH
            <select name="buhead" id="buhead" class="btn" style="border-radius: 30px;">
                <option value="{{bu_select}}" selected disabled hidden>{{bu_select}}</option>
                {% for val in buHead %}
                <option value="{{val.eFname}}">{{val.eFname}}</option>
                {% endfor %}
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;" class="btn">
            Archived?
            <select name="archivestatus" id="archivestatus" class="btn" style="border-radius: 30px;">
                <option value="{{status_select}}" selected disabled hidden>{{status_select}}</option>
                <option value="Closed">Closed</option>
                <option value="Active">Active</option>
                <option value="Both">Both</option>
            </select>
        </span>
        <span style="margin-left: 30;">
            <button class="go-btn" style="border-radius: 30px;" type="submit"
                onClick="location.href = getLink()">Search</button>

        </span>
        <span style="margin-left: 10;">
            <button class="go-btn" style="border-radius: 30px;" type="submit"
                onclick="location.href='/showTa/Choose/Choose/Choose'">Refresh</button>
        </span>
        <script>
            function getLink() {
                var buhead = document.querySelector("#buhead").value;
                var department = document.querySelector("#department").value;
                var archivestatus = document.querySelector("#archivestatus").value;
                var url = '/showTa/'
                    + encodeURIComponent(department) +
                    '/'
                    + encodeURIComponent(buhead) +
                    '/'
                    + encodeURIComponent(archivestatus);
                return url;
            }
        </script>

    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- DataTables core library -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<!-- DataTables Buttons extension library -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function () {
        $('#taTable').DataTable({
            dom: 'Bfrtip',
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5'],
        })
    })
</script>

<table class="table table-bordered table-hover" id="taTable" name="taTable">
    <thead class="bg-info text-white">
        <tr>
            <th>Archived</th>
            <th>Candidate</th>
            <th>Exp.</th>
            <th>Edu.</th>
            <th>Skill</th>
            <th>NP</th>
            <th>Location</th>
            <th>BUH</th>
            <th>Remarks</th>
            <th>Owner</th>
            <th>Status</th>            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for value in ta_instance %}
        <tr>
            <td>{{value.archived}}</td>
            <td>{{value.name}}
                {% if value.resume != 'None' %}
                <a href="{{value.resume}}" target="_blank"><i class="fa-regular fa-eye"></i></a>
                {% endif %}
            </td>
            <td>{{value.experience}}</td>
            <td>{{value.education}}</td>
            <td>{{value.skillset}}</td>
            <td>{{value.notice_period}}</td>
            <td>{{value.current_loc}}</td>
            <td>{{value.BU}}</td>
            <td>
                <p class="btn-sm" data-toggle="modal" data-target="#hist{{value.ta_id}}">
                    {{ value.remarks|extract_from_hashtag }}
                </p>
                <!-- remarks Modal -->
                <div class="modal fade" id="hist{{value.ta_id}}" tabindex="-1" role="dialog"
                    aria-labelledby="jobDescriptionModalLabel{{value.ta_id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="hist{{value.ta_id}}">Remarks for {{value.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{value.remarks|linebreaksbr }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form action="/addCommentsToTaCandidate/{{value.ta_id}}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="remark_text">Edit remarks:</label>
                                            <textarea name="remark_text" id="remark_text" cols="50"
                                                rows="10"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info">Add Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>{{value.owner}}</td>
            <td>{{value.status}}</td>

            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#exampleModalLong{{value.phone_number}}">
                    <i class="fa-regular fa-eye"></i>
                </button>

                <!-- button to edit Ta Details-->
                <button class="btn-success btn-sm" data-toggle="modal" data-target="#modalupdate{{value.phone_number}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <!-- Modal to see all the details of each Ta resource-->
                <div class="modal fade" id="exampleModalLong{{value.phone_number}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Details for {{value.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <h5 for="reqStatus">TA ID</h5> {{value.ta_id}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="pr_date">Archived</h5> {{value.archived}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="vendor_name">Date</h5> {{value.date}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="candidate_source">Name</h5> {{value.name}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="candidate_source">Department</h5> {{value.department}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="candidate_name">BU</h5>
                                    {{value.BU}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="skillset">Position</h5> {{value.Position}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="experience">skillset</h5> {{value.skillset}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="education">Education</h5> {{value.education}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="experience">Experience </h5> {{value.experience}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="bu_head">Relevant Experience</h5> {{value.relevant_exp}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="location">Current Organization</h5> {{value.current_org}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="notice_period">Current CTC</h5> {{value.current_ctc}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="reviewer_name">Expected CTC</h5> {{value.expected_ctc}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="remarks_panel">Actual Notice Period</h5> {{value.actual_notice_period}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="vm_comment">Notice Period</h5> {{value.notice_period}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="client_name">Current Location</h5> {{value.current_loc}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="interview_schedule">Preferred Location</h5> {{value.preferred_loc}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="pr_date">Phone Number</h5> {{value.phone_number}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="comments">Email </h5> {{value.email }}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="remarks">Status</h5> {{value.status}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">T1 Panel</h5> {{value.T1_panel}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">T1 IW Date </h5> {{value.T1_IW_date }}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">T2 Panel</h5> {{value.T2_panel}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">T2 IW Date</h5> {{value.T2_IW_date}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">Source</h5> {{value.source}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">Owner</h5> {{value.owner}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">Resume URL</h5> {{value.resume}}
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h5 for="mode">Remarks</h5> {{value.remarks}}
                                </div>
                                <hr>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Model for update Ta Details -->
                <div class="modal" id="modalupdate{{value.phone_number}}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5" id="staticBackdropLabel">Update {{value.name}} Details</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form action="/updateTaDetails/{{value.ta_id}}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <br>
                                            <input type="text" name="name" id="name" class="form-control"
                                                value="{{value.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="archived">Archived?</label>
                                            <select name="archived" id="archived" class="btn"
                                                style="border-radius: 30px">
                                                <option value="{{value.archived}}" selected>
                                                    {{value.archived}}
                                                </option>
                                                <option value="Active">Active</option>
                                                <option value="Closed">Closed</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select name="status" id="status">
                                                <option value="{{value.status}}" selected>{{value.status}}</option>
                                                <option value="ScreeningPending">pending Processing</option>
                                                <option value="screenReject">Screen reject</option>
                                                <option value="shortlisted">Shortlisted</option>
                                                <option value="CustomerReject">CustomerReject</option>
                                                <option value="Deployed">Deployed</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="date">Date</label>
                                            <br>
                                            <input type="date" name="date" id="date" class="form-control"
                                                value="{{value.date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="department">Department</label>
                                            <select name="department" id="department">
                                                {% for val in departments %}
                                                <option value="{{val}}">{{val}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="BU">BU HEAD</label>
                                            <select name="BU" id="BU" class="btn" style="border-radius: 30px">
                                                <option value="{{value.BU}}" Selected>{{ value.BU }}</option>
                                                {% for val in buHead %}
                                                <option value="{{val}}">{{val}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Position">Position</label>
                                            <br>
                                            <input type="text" name="Position" id="Position" class="form-control"
                                                value="{{value.Position}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="skillset">Skillset</label>
                                            <br>
                                            <input type="text" name="skillset" id="skillset" class="form-control"
                                                value="{{value.skillset}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="education">Education</label>
                                            <br>
                                            <input type="text" name="education" id="education" class="form-control"
                                                value="{{value.education}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="experience">Experience</label>
                                            <br>
                                            <input type="number" name="experience" id="experience" class="form-control"
                                                step="any" value="{{value.experience}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="relevant_exp">Relevant Experience</label>
                                            <br>
                                            <input type="number" name="relevant_exp" id="relevant_exp"
                                                class="form-control" step="any" value="{{value.relevant_exp}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="current_org">Current Organization</label>
                                            <br>
                                            <input type="text" name="current_org" id="current_org" class="form-control"
                                                value="{{value.current_org}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="current_ctc">Current CTC</label>
                                            <br>
                                            <input type="number" name="current_ctc" id="current_ctc"
                                                class="form-control" step="any" value="{{value.current_ctc}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="expected_ctc">Expected CTC</label>
                                            <br>
                                            <input type="number" name="expected_ctc" id="expected_ctc"
                                                class="form-control" step="any" value="{{value.expected_ctc}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="actual_notice_period">Actual Notice Period</label>
                                            <br>
                                            <input type="number" name="actual_notice_period" id="actual_notice_period"
                                                class="form-control" value="{{value.actual_notice_period}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="notice_period">Notice Period</label>
                                            <br>
                                            <input type="number" name="notice_period" id="notice_period"
                                                class="form-control" value="{{value.notice_period}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="current_loc">Current Location</label>
                                            <br>
                                            <input type="text" name="current_loc" id="current_loc" class="form-control"
                                                value="{{value.current_loc}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="preferred_loc">Preferred Location</label>
                                            <br>
                                            <input type="text" name="preferred_loc" id="preferred_loc"
                                                class="form-control" value="{{value.preferred_loc}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone_number">Phone Number</label>
                                            <br>
                                            <input type="number" name="phone_number" id="phone_number"
                                                class="form-control" value="{{value.phone_number}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <br>
                                            <input type="email" name="email" id="email" class="form-control"
                                                value="{{value.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="T1_panel">T1 Panel</label>
                                            <br>
                                            <input type="text" name="T1_panel" id="T1_panel" class="form-control"
                                                value="{{value.T1_panel}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="T1_IW_date">T1 IW Date</label>
                                            <br>
                                            <input type="date" name="T1_IW_date" id="T1_IW_date" class="form-control"
                                                value="{{value.T1_IW_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="T2_panel">T2 Panel</label>
                                            <br>
                                            <input type="text" name="T2_panel" id="T2_panel" class="form-control"
                                                value="{{value.T2_panel}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="T2_IW_date">T2 IW Date</label>
                                            <br>
                                            <input type="date" name="T2_IW_date" id="T2_IW_date" class="form-control"
                                                value="{{value.T2_IW_date|date:'Y-m-d'}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="source">Source</label>
                                            <br>
                                            <input type="text" name="source" id="source" class="form-control"
                                                value="{{value.source}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="owner">Owner</label>
                                            <br>
                                            <input type="text" name="owner" id="owner" class="form-control"
                                                value="{{value.owner}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="resume">Resume URL</label>
                                            <br>
                                            <input type="text" name="resume" id="resume" class="form-control"
                                                value="{{value.resume}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="remarks">Remarks</label>
                                            <br>
                                            <input type="text" name="remarks" id="remarks" class="form-control"
                                                value="{{value.remarks}}">
                                        </div>
                                        <br>
                                        <input type="submit" class="btn btn-info" value="Update Details">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    </div>
    {% endblock %}