{% extends 'basic.html' %}
{% block extra %}
{% load experience_filter %}




{% endblock %}
{% block body %}
<center>
  <div>
    <h2 class="bg-info text-white">List of Employees</h2>
  </div>
</center>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<div class="form-inline">
  <div class="d-inline-block">

    <span class="btn">
      DEPT
      <select class="btn" name="department" id="department" style="border-radius: 30px;">
        <option value="{{department}}" selected hidden disabled>{{department}}</option>
        {% for val in departments %}
        <option value="{{val.department}}">{{val.department}}</option>
        {% endfor %}
        <option value="All">All</option>
      </select>
    </span>

    <span style="margin-left: 30;" class="btn">
      BUH
      <select name="buhead" id="buhead" class="btn" style="border-radius: 30px;">
        <option value="{{buh}}" selected disabled hidden>{{buh}}</option>
        {% for val in BUHList %}
        <option value="{{val.eFname}}">{{val.eFname}}</option>
        {% endfor %}
        <option value="All">All</option>
      </select>
    </span>

    <span style="margin-left: 30;" class="btn">
      Manager
      <select name="manager" id="manager" class="btn" style="border-radius: 30px;">
        <option value="{{manager}}" selected disabled hidden>{{manager}}</option>
        {% for val in managerList %}
        <option value="{{val.eFname}}">{{val.eFname}}</option>
        {% endfor %}
        <option value="All">All</option>
      </select>
    </span>
    <span style="margin-left: 30;">
      <button class="go-btn" style="border-radius: 30px;" type="submit"
        onClick="window.location.href = getLink()">Search</button>

    </span>
    <span style="margin-left: 10;">
      <button class="go-btn" style="border-radius: 30px;" type="submit"
        onclick="location.href='/listEmployeeFiltered/All/All/All'">Refresh</button>
    </span>

  </div>
</div>
<script>
  function getLink() {
    var department = document.querySelector("#department").value;
    var buhead = document.querySelector("#buhead").value;
    var manager = document.querySelector("#manager").value;
    var url = '/listEmployeeFiltered/' + encodeURIComponent(department) + '/' + encodeURIComponent(buhead) + '/' + encodeURIComponent(manager);

    return url;
  }
</script>

<div class="container-fluid">
  <table class="table table-bordered table-hover" id="empTable" name="empTable">
    <thead class="bg-info text-white">
      <tr>
        <th>Employee ID.</th>
        <th>Name</th>
        <th>Customer</th>
        <th>DEPT</th>
        <th>BUH</th>
        <th>Manager</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Status</th>
        <th>Employment Start</th>
        <th>Onboarding Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{employee.e_id}}</td>
        <td>{{employee.eFname}} {{employee.eLname}}</td>
        <td>{{employee.refer_Customer}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.BUH}}</td>
        <td>{{employee.Manager}}</td>
        <td>{{employee.eEmail}}</td>
        <td>{{employee.ePhone}}</td>
        <td>{{employee.eRole}}</td>
        <td>{{employee.estatus}}</td>
        <td>{{employee.leadsoc_joining_date}}</td>
        <td>{{employee.customer_start_date}}</td>

        <td>
          {% if current_emp.eRole.role_name == 'HR' or current_emp.eRole.role_name == 'BUH' %}
          <button class="btn-danger btn-sm" onclick="location.href='/deleteLeadSocEmployee/{{employee.e_id}}'"><i
              class="fa-solid fa-trash"></i></button>
          <button class="btn-success btn-sm" data-toggle="modal" data-target="#modalForm{{employee.ePhone}}"><i
              class="fa-solid fa-pen-to-square"></i>
          </button>
          {% else %}
          <span class="d-inline-block" tabindex="0" data-bs-toggle="popover{{employee.e_id}}"
            data-bs-trigger="hover focus" data-bs-content="Authorized for HR or BUH only ${{current_emp.eRole.role_name}}" data-bs-placement="left">
            <button class="btn-outline-secondary btn-success" disabled>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </span>

          <script>
            $(function () {
              $('[data-bs-toggle="popover{{employee.e_id}}"]').popover({ trigger: "hover focus" })
            })
          </script>
          {% endif %}


          <div class="modal" id="modalExpTable{{employee.e_id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <!-- The fetched content will be loaded here -->
              </div>
            </div>
          </div>


          <div class="modal" id="modalForm{{employee.ePhone}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter the new details</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>

                <div class="modal-body">
                  <div class="container-fluid">
                    <form action="/updateLeadSocEmployee/{{employee.e_id}}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="RequiredSkills">Update First Name :</label>
                        <input type="text" class="form-control" id="eFname" name="eFname" placeholder="Enter First Name"
                          value="{{employee.eFname}}">
                      </div>
                      <div class="form-group">
                        <label for="eLname">Update Last Name:</label>
                        <input type="text" class="form-control" id="eLname" name="eLname" placeholder="Enter Last Name"
                          value="{{employee.eLname}}">
                      </div>
                      <div class="form-group">
                        <label for="refer_Customer">Customer</label>
                        <select name="refer_Customer" id="refer_Customer">
                          <option value="{{ employee.refer_Customer }}" selected>{{ employee.refer_Customer }}</option>
                          {% for val in customerlist %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="eEmail">Update Email Id :</label>
                        <input type="email" class="form-control" id="eEmail" name="eEmail" placeholder="Email"
                          value="{{employee.eEmail}}">
                      </div>
                      <div class="form-group">
                        <label for="ePhone">Phone :</label>
                        <input type="text" class="form-control" id="ePhone" name="ePhone" placeholder="Phone"
                          value="{{employee.ePhone}}">
                      </div>
                      <div class="form-group">
                        <label for="eRole">Update Role</label>
                        <select name="eRole" id="eRole">
                          <option value="{{ employee.eRole }}" selected>{{ employee.eRole }}</option>
                          {% for val in rolelist %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>

                      </div>
                      <div class="form-group">
                        <label for="Manager">Update Manager</label>
                        <select name="Manager" id="Manager">
                          <option value="{{ employee.Manager }}" selected>{{ employee.Manager }}</option>
                          {% for val in managerList %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>
                      </div>


                      <div class="form-group">
                        <label for="department">Update department</label>
                        <select name="department" id="department">
                          <option value="{{ employee.department }}" selected>{{ employee.department }}</option>
                          {% for val in departments %}
                          <option value="{{val}}">{{val}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="estatus">Update status:</label>
                        <select name="estatus" id="estatus">
                          <option value="{{ employee.estatus }}" selected>{{ employee.estatus }}</option>
                          <option value="Free">Free</option>
                          <option value="PendingProcessing">PendingProcessing</option>
                          <option value="Deployed">Deployed</option>
                          <option value="NA">NA</option>


                        </select>
                      </div>


                  </div>

                  <button type="submit" class="btn btn-primary">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Button to open the Experiance modal -->
          <button type="button" class="btn btn-primary" id="openEmpExpModalBtn{{employee.e_id}}"
            data-e_id="{{ employee.e_id }}"><i class="fa-solid fa-eye"></i>
          </button>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- DataTables core library -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

  <!-- DataTables Buttons extension library -->
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
  <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#empTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copyHtml5',
          'excelHtml5',
          'csvHtml5',
          'pdfHtml5'
        ]
      });

      $('.modal').on('click', '.close', function () {
        $(this).closest('.modal').modal('hide');
      });

      // Handle button click event
      $('button[id^="openEmpExpModalBtn"]').click(function () {
        var empid = $(this).data('e_id');
        console.log("Emp Id", empid)
        // Get the empid value from the button's data attribute

        // Make an AJAX request to fetch the modal content with empid as a query parameter
        $.ajax({
          url: `/getEmployeeExperiances/${empid}/`, // Replace with the actual URL for the view
          type: 'GET',
          dataType: 'html',
          success: function (data) {
            console.log("Data inside query", data)
            // On success, load the fetched content into the modal
            $(`#modalExpTable${empid} .modal-content`).html(data);
            // Show the modal
            $(`#modalExpTable${empid}`).modal('show');
          },
          error: function (xhr, status, error) {
            console.error(error);
            // Handle error if needed
          }
        });
      });
    });
  </script>
</div>
{% endblock %}