{% extends 'basic.html' %}
{% block extra %}
{% load custom_filters %}


{% endblock %}
{% block body %}
<center>
    <div>
        <h2 class="bg-info text-white">Customer Requirements</h2>
    </div>
</center>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<div class="form-inline">
    <div class="d-inline-block">
        <span>
            <button class="go-btn" style="border-radius: 30px;"
                onclick="location.href='/salesSummary'">salesSummary</button>
        </span>
        <span class="btn">
            Sales
            <select class="btn" name="saleslist" id="sales" style="border-radius: 30px;">
                <option value="{{sales_select}}" selected hidden disabled>{{sales_select}}</option>
                {% for val in SalesTeam %}
                <option value="{{val.eFname}}">{{val.eFname}}</option>
                {% endfor %}
                <option value="All">All</option>
            </select>
        </span>
        <span style="margin-left: 30;" class="btn">
            BUH
            <select name="buhead" id="buhead" class="btn" style="border-radius: 30px;">
                <option value="{{bu_select}}" selected disabled hidden>{{bu_select}}</option>
                {% for val in buList %}
                <option value="{{val.eFname}}">{{val.eFname}}</option>
                {% endfor %}
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;" class="btn">
            Status
            <select name="statuslist" id="status" class="btn" style="border-radius: 30px;">
                <option value="{{status_select}}" selected disabled hidden>{{status_select}}</option>
                <option value="Active">Active</option>
                <option value="Closed">Closed</option>
                <option value="Hold">Hold</option>
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;" class="btn">
            Priority
            <select name="priority_select" id="priority_select" class="btn" style="border-radius: 30px;">
                <option value="{{priority_select}}" selected disabled hidden>{{priority_select}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;" class="btn">
            FullFilment
            <select name="fulfillThru" id="fulfillThru" class="btn" style="border-radius: 30px;">
                <option value={{fulfillThru_select}} selected disabled hidden>{{fulfillThru_select}}</option>
                <option value=BENCH>BENCH</option>
                <option value=TA>TA</option>
                <option value=VM>VM</option>
                <option value="All">ANY</option>
            </select>
        </span>
        <span class="btn">
            Dept
            <select class="btn" name="department" id="department" style="border-radius: 30px;">
                <option value="{{department}}" selected hidden disabled>{{department}}</option>
                {% for val in departments %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
                <option value="All">All</option>
            </select>
        </span>

        <span style="margin-left: 30;">
            <button class="go-btn" style="border-radius: 30px;" type="submit"
                onClick="window.location.href = getLink()">Search</button>

        </span>
        <span style="margin-left: 10;">
            <button class="go-btn" style="border-radius: 30px;" type="submit"
                onclick="location.href='/listSalesReqsFiltered/Choose/Choose/Choose/Choose/Choose/Choose'">Refresh</button>
        </span>

    </div>
</div>
<script>
    function getLink() {
        var buhead = document.querySelector("#buhead").value;
        var salesincharge = document.querySelector("#sales").value;
        var status = document.querySelector("#status").value;
        var priority = document.querySelector("#priority_select").value;
        var fulfillThru = document.querySelector("#fulfillThru").value;
        var department = document.querySelector("#department").value;
        var url = '/listSalesReqsFiltered/' + encodeURIComponent(buhead) + '/' + encodeURIComponent(salesincharge) + '/' + encodeURIComponent(status) + '/' + encodeURIComponent(priority) + '/' + encodeURIComponent(fulfillThru) + encodeURIComponent(department);
        console.log("URL ",url)
        return url;
    }
</script>

</div>
<table class="table relative-top" id="salesReqTable">
    <thead class="badge-info text-white">
        <tr>
        <tr>
            <th>Opened On</th>
            <th>Customer</th>
            <th>ReqID</th>
            <th>Skills</th>
            <th>Job Desc.</th>
            <th>Remarks</th>
            <th>Prio</th>
            <th>ExpRange</th>
            <th>Requirements</th>
            <th>Status</th>
            <th>BDM</th>
            <th>BU Head</th>
            <th>DEPT.</th>
            <th>Fulfill</th>
            <th>Actions</th>
        </tr>
        </tr>
    </thead>

    <tbody>
        {% for val in customer_requirements %}
        <tr>
            <div>
                <td>{{val.ReqDate|date:'d/m'}}</td>
                <td>{{val.customers}}</td>
                <td>{{val.CustReqId}}</td>
                <td>{{val.RequiredSkills}}</td>
                <td>
                    <p class="btn-sm" data-toggle="modal" data-target="#jobDescriptionModal{{val.reqIdPK}}">
                        {{ val.jobTitle|default:'NA'|truncatewords:5 }}

                    </p>
                    <!-- JOb description Modal -->
                    <div class="modal fade" id="jobDescriptionModal{{val.reqIdPK}}" tabindex="-1" role="dialog"
                        aria-labelledby="jobDescriptionModalLabel{{val.reqIdPK}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="jobDescriptionModalLabel{{val.reqIdPK}}">Job Description
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{val.JD}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <p class="btn-sm" data-toggle="modal" data-target="#hist{{val.reqIdPK}}">
                        {{ val.history|extract_from_hashtag }}
                    </p>
                    <!-- History Modal -->
                    <div class="modal fade" id="hist{{val.reqIdPK}}" tabindex="-1" role="dialog"
                        aria-labelledby="jobDescriptionModalLabel{{val.reqIdPK}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hist{{val.reqIdPK}}">Remarks
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{val.history|linebreaksbr }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form action="/addSalesReqComment/{{val.reqIdPK}}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="remark_text">Edit remarks:</label>
                                                <textarea name="remark_text" id="remark_text" cols="50"
                                                    rows="10"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>{{val.priority}}</td>
                <td>{{val.minExp}}- {{val.maxExp}}</td>
                <td>
                    Open: {{val.openPositions}}<br>
                    Lapsed: {{val.lapsedPositions}}<br>
                    Filled: {{val.filledPositions}}<br>
                    ToFill: {{val.remainPositions}}
                </td>
                <td>{{val.reqStatus}}</td>
                <td>{{val.SalesIncharge}}</td>
                <td>{{val.buHead}}</td>
                <td>{{val.department}}</td>
                <td>{{val.fulfillThru}}</td>
                <!-- Button trigger modal -->
                <td>
                    <button type="button" class="btn-info btn-sm"
                        onclick="location.href='/mappedEmployeeToCustomer/{{val.reqIdPK}}'">
                        <i class="fa-regular fa-eye"></i>
                    </button>

                    <button class="btn-success btn-sm" data-toggle="modal" data-target="#modalForm{{val.reqIdPK}}"><i
                            class="fa-solid fa-pen-to-square"></i></button>
                    <!-- Modal form -->
                    <div class="modal" id="modalForm{{val.reqIdPK}}" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter the new details</h1>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <h6>Customer : {{val.customers}}</h6>
                                        <h6>Requirement id : {{val.CustReqId}}</h6>
                                        <form action="/updateSaleReqs/{{val.reqIdPK}}" method="POST">
                                            {% csrf_token %}

                                            <br>
                                            <label for="reqStatus">Status:</label>

                                            <select name="reqStatus" id="reqStatus">
                                                <option value={{val.reqStatus}} selected>
                                                    {{val.reqStatus}}
                                                </option>
                                                <option value="Active">Active </option>
                                                <option value="Closed">Closed </option>
                                                <option value="Hold">Hold </option>

                                            </select>

                                            <label for="priority">Priority</label>
                                            <select name="priority" id="priority">
                                                <option value={{val.priority}} selected>{{val.priority}}</option>
                                                <option value=1>P1</option>
                                                <option value=2>P2</option>
                                                <option value=3>P3</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="JD"> Job Description:</label>
                                        <textarea name="JD" id="JD" cols="40" rows="20">{{val.JD}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="jobTitle"> Job Title:</label>
                                        <input type="text" class="form-control" id="jobTitle" name="jobTitle"
                                            value="{{val.jobTitle}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="RequiredSkills"> Required Skills:</label>
                                        <input type="text" class="form-control" id="RequiredSkills"
                                            name="RequiredSkills" value="{{val.RequiredSkills}}">
                                    </div>


                                    <div class="form-group">
                                        <label for="minExp"> Min
                                            Experience:</label>
                                        <input type="number" class="form-control" id="minExp" name="minExp"
                                            placeholder="enter required experience" value="{{val.minExp}}" min="0"
                                            max="100" step="0.1">
                                    </div>
                                    <div class="form-group">
                                        <label for="maxExp"> Max
                                            Experience:</label>
                                        <input type="number" class="form-control" id="maxExp" name="maxExp"
                                            placeholder="enter required experience" value="{{val.maxExp}}" min="0"
                                            max="100" step="0.1">
                                    </div>
                                    <div class="form-group">
                                        <label for="openPositions"> Open positions:</label>
                                        <input type="number" class="form-control" id="openPositions"
                                            name="openPositions" placeholder="Enter opened positions"
                                            value="{{val.openPositions}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="filledPositions"> Filled positions:</label>
                                        <input type="number" class="form-control" id="filledPositions"
                                            name="filledPositions" placeholder="Enter filledPositions positions"
                                            value="{{val.filledPositions}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="lapsedPositions"> Lapsed positions:</label>
                                        <input type="number" class="form-control" id="lapsedPositions"
                                            name="lapsedPositions" placeholder="Enter opened positions"
                                            value="{{val.lapsedPositions}}">
                                    </div>


                                    <div class="form-group">
                                        <label for="ActiveSubmissionCount"> Active Submission Count:</label>
                                        <input type="number" class="form-control" id="ActiveSubmissionCount"
                                            name="ActiveSubmissionCount" placeholder="Enter opened positions"
                                            value="{{val.ActiveSubmissionCount}}">
                                    </div>

                                    <label for="fulfillThru">FullFilment Thru</label>
                                    <select name="fulfillThru" id="fulfillThru">
                                        <option value={{val.fulfillThru}} selected>{{val.fulfillThru}}</option>
                                        <option value=BENCH>BENCH</option>
                                        <option value=TA>TA</option>
                                        <option value=VM>VM</option>
                                        <option value="ANY" selected>ANY</option>
                                    </select>

                                    <div class="form-group">
                                        <label for="JD">Remarks</label>
                                        <textarea name="history" id="history" cols="40"
                                            rows="20">{{val.history}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="SalesIncharge">Sales Incharge</label>
                                    <select name="SalesIncharge" id="SalesIncharge">
                                        {% for val in SalesTeam %}
                                        <option value="{{val}}">{{val}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="buHead">Bu Head:</label>
                                    <select name="buHead" id="buHead">
                                        {% for val in buList %}
                                        <option value="{{val}}">{{val}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-info" value=" Update">
                                    <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </tr>
        {% endfor %}
    </tbody>

</table>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- DataTables core library -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<!-- DataTables Buttons extension library -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function () {
        $('#salesReqTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5'
            ],
        });
    });
</script>
</div>
{% endblock %}
<!-- </nav> -->