{%extends 'basic.html' %} {% block body %}
<table>
  <tr>
    <td style="padding: 15px; margin-top: 30px">
      <div class="container text-white" style="margin-top: 30px">
        <div class="col-xl-12">
          <form action="" method="get" class="form-inline">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Search candidate skills.." name="searchskill" />
            <button type="submit" class="btn btn-success" value="Search">Search</button>
          </form>
        </div>
      </div>
    </td>
    <div>
      <td style="padding: 15px; margin-top: 30px">
        <div onclick="location.href='';">
          <input type="radio" />
          <p>Bench Resource</p>
        </div>
      </td>
      <td style="padding: 15px; margin-top: 30px">
        <div onclick="location.href='/showTaList/{{reqIdPK}}';">
          <input type="radio" />
          <p>TA Resources</p>
        </div>
      </td>

      <td style="padding: 15px; margin-top: 30px">
        <div onclick="location.href='/showVmList/{{reqIdPK}}';">
          <input type="radio" />
          <p>VM Resources</p>
        </div>
      </td>
    </div>    
  </tr>
</table>
<div class="form-inline">
  <div class="d-inline-block">
    <span class="btn">
      <span style="margin-left: 30;" class="btn">
        BUH
        <select name="BU" id="BU" class="btn" style="border-radius: 30px;">
          <option value="{{bu_select}}" selected disabled hidden>{{bu_select}}</option>
          {% for val in buList %}
          <option value="{{val.eFname}}">{{val.eFname}}</option>
          {% endfor %}
          <option value="All" selected>All</option>
        </select>
      </span>
      <span style="margin-left: 30">
        <button class="go-btn" style="border-radius: 30px" type="submit" onClick="window.location.href = getLink()">
          Search
        </button>
      </span>
      <span style="margin-left: 10">
        <button class="go-btn" style="border-radius: 30px" type="submit"
          onclick="location.href='/freeFromAllSource/{{reqIdPK}}'">
          Refresh
        </button>
      </span>
  </div>
</div>
<script>
  function getLink() {
    var buhead = document.querySelector('#BU').value  
    var id= "{{reqIdPK}}"
    var url ='/buFilterForMappedEmployee/' + encodeURIComponent(buhead) +'/' + encodeURIComponent(id) +'/LEADSOC'
    return url
  }
</script>
<center>
  <div>
    <h3 class="bg-info text-white">Bench Resource</h3>
  </div>
</center>
<form action="/mapEmpToReq/{{reqIdPK}}/bench" method="POST" class="form-inline">
  {% csrf_token %}

  <table class="table table-bordered table-hover" id="mapTable" name="mapTable">
    <thead class="badge-info text-white">
      <tr>
        <th>No.</th>
        <th>select</th>
        <th>Id</th>
        <th>Candidate Name</th>
        <th>Department</th>
        <th>BU Head</th>
        <th>Candidate Skills</th>
        <th>Candidate Status</th>
      </tr>
    </thead>

    <tbody>
      {% for candidate_list in form %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>
          <input type="checkbox" name="empId" id="empId" value="{{candidate_list.e_id}}" />
          <label for="empId"></label>
        </td>
        <td>{{candidate_list.e_id}}</td>
        <td>{{candidate_list.eFname}} {{candidate_list.eLname}}</td>
        <td>{{candidate_list.department}}</td>
        <td>{{candidate_list.BUH}}</td>
        <td>{{candidate_list.eskills}}</td>
        <td>{{candidate_list.estatus}}</td>
      </tr>
      {% empty %}
      <span class="text-center text-danger">No record found</span>
      {% endfor %}
    </tbody>
  </table><br><br>
  <button type="submit" class="btn btn-info" value="submit" style="float: right">
    Add Candidate
  </button>
</form>
{% endblock %}