{% extends 'basic.html' %} {% block body %}
<center>
  <div>
    <h2 class="bg-info text-white" style="background-color: #20272d">List of Customer</h2>
  </div>
</center>
<div class="container-fluid">
  <table class="table table-bordered table-hover">
    <thead class="bg-info text-white">
      <tr>
        <!--<th>Customer No.</th>-->
        <th style="text-align: center">Serial Number</th>
        <th style="text-align: center">Customer Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">website</th>
        <th style="text-align: center">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for customer in companies %} {% if customer.cName != 'Not Assigned' %}
      <tr>
        <td style="text-align: center">{{forloop.counter}}</td>
        <td style="text-align: center">{{customer.cName}}</td>
        <td style="text-align: center">{{customer.cEmail}}</td>
        <td style="text-align: center">{{customer.cUrl}}</td>
        <td style="text-align: center">
          <button
            class="btn-danger btn-sm"
            onclick="location.href='/deleteCustomer/{{customer.cName}}'"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      {% endif%} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
