{% extends 'basic.html' %}
{% block body %}
        <center>
            <div>
                <h2 class="bg-primary text-white">Candidate List</h2>

            </div>
        </center>
        <table class="table">
            <thead class="badge-info text-white">
                <tr>
                    <th>No.</th>
                    <th>select</th>
                    <th>Candidate Name</th>
                    <th>Candidate Skills</th>
                    <th>Candidate Status</th>
                </tr>
            </thead>

        <tbody>
            {% for candidate_list in candidate %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><input type="checkbox" id="eFname" name="eFname" value="eFname">
                    <label for="eFname"> </label>
                </td>
                <td>{{candidate_list.eFname}}</td>
                <td>{{candidate_list.eskills}}</td>
                <td>{{candidate_list.estatus}}</td>

            </tr>

            {% endfor %}
        </tbody>
        </table>>
    </div>
{% endblock %}