{% extends 'basic.html' %}
{% block extra %}
{% load custom_filters %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
<center>
    <div>
        <h2 class="bg-info text-white">User Login Accounts</h2>
    </div>
</center>

<body>
    <table class="table table-bordered table-hover" id="taTable" name="taTable">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Employee ID</th>
            <th>Permissions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.emp_id }}</td>
            <td>
                <p onclick="location.href='/edit_user_permissions/{{user.emp_id}}'">
                    {% for permission in user.enabled_permissions %}
                    <spann>{{ permission }},</spann>
                    {% endfor %}
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}